In [3]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [4]:
ppg_url = "https://www.teamrankings.com/nba/stat/points-per-game?date="
oppg_url = "https://www.teamrankings.com/nba/stat/opponent-points-per-game?date="
ppg, oppg = [], []
# columns used for pd.df
columns = [row.text for row in BeautifulSoup(requests.get(ppg_url + '2018-10-31').text, 'html.parser').find_all('tr')[0].find_all('th')][2]
daterange = pd.date_range('2018-11-01', '2018-11-30') # to decide later

In [43]:
def scrape_team_data(url, daterange):
    team_data = []
    for date in daterange:
        response = requests.get(url + date.strftime("%Y-%m-%d"))
        pts = [row.find_all('td')[2].text for row in BeautifulSoup(response.text, 'html.parser').find_all('tr')[1:]]
        teams = [team.text for team in BeautifulSoup(response.text, 'html.parser').find_all('td', class_='text-left nowrap')]
        zip_list = list(zip(*[teams, pts]))
        zip_list.sort()
        teams_list, pts_list = zip(*zip_list)
        # team_data.append([[date for i in range(30)], list(zip(*[teams, pts]))])
        team_data.append([[date for i in range(30)], teams_list, pts_list])
    return team_data

In [52]:
ppg = scrape_team_data(ppg_url, daterange)
oppg = scrape_team_data(oppg_url, daterange)

In [53]:
len(oppg)

30

In [59]:
date_index, team_index, pts, opts = [], [], [], []
for i in range(len(ppg)):
    date_index += ppg[i][0]
    team_index += ppg[i][1]
    pts += ppg[i][2]
    opts += oppg[i][2]

data = {'PPG': pts, 'OPPG': opts}

In [61]:
df = pd.DataFrame(data=data, index=[date_index, team_index])
df.loc['2018-11-01']

                           PPG   OPPG
2018-11-01 Atlanta       108.4  116.9
           Boston        102.4   97.6
           Brooklyn      108.2  112.1
           Charlotte     115.5  109.5
           Chicago       109.9  118.4
           Cleveland     110.0  117.9
           Dallas        111.4  116.6
           Denver        112.9  105.4
           Detroit       111.0  112.6
           Golden State  125.0  111.9
           Houston       105.8  116.3
           Indiana       108.8  102.6
           LA Clippers   115.6  110.3
           LA Lakers     121.0  121.1
           Memphis       103.7  100.0
           Miami         111.7  110.7
           Milwaukee     120.0  104.1
           Minnesota     116.0  118.5
           New Orleans   122.3  120.6
           New York      106.0  110.2
           Okla City     108.7  111.3
           Orlando       100.6  110.7
           Philadelphia  112.5  113.5
           Phoenix       103.4  118.1
           Portland      117.0  109.1
           Sacramento    116.5  116.8
           San Antonio   114.6  113.0
           Toronto       117.4  109.0
           Utah          114.3  109.3
           Washington    111.9  122.4